@import url(https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css);
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900&display=swap");
@import url(/css/reset.css);
@import url(/css/common.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css);
/* ---HEADER--------------------- */

.header-container {
  margin: 2rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.625rem;
}

.logo {
  height: 2.25rem;
}

.nav {
  display: none;
}

.menu-btn {
  height: 1.375rem;
  width: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-lines {
  content: "";
  background-color: #999;
  height: 4px;
  width: 100%;
  border-radius: 3px;
}

.menu-lines::before,
.menu-lines::after {
  content: "";
  background-color: #999;
  height: 4px;
  width: 24px;
  border-radius: 3px;
  position: absolute;
}

.menu-lines::before {
  transform: translateY(9px);
}

.menu-lines::after {
  transform: translateY(-9px);
}

/* ---HERO-------------------------------- */

.hero {
  margin-left: 2rem;
  position: relative;
  overflow: hidden;
  margin-bottom: 5rem;
}

.hero-img {
  height: 23rem;
  position: absolute;
  top: -40px;
  right: -176px;
}

.hero-text {
  width: 17.125rem;
}

.primary-subheading {
  text-transform: uppercase;
  color: #ff3998;
  letter-spacing: 0.1em;
  font-weight: bold;
  margin: 1.5rem 0;
  font-size: 16px;
}

.primary-heading {
  color: #111111;
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 1.5rem;
}

.cta-btn {
  color: #111111;
  background-color: transparent;
  font-weight: 600;
  width: 11.75rem;
  font-size: 1.25rem;
  border: 3px solid #ff3998;
  border-radius: 99px;
  line-height: 1.875rem;
  cursor: pointer;
  padding: 1.375rem;
}

/* ---UPSELL-------------------- */

.upsell {
  background: url(/images/background.png);
  background-size: cover;
  margin-bottom: 4rem;
  max-width: 100%;
}

.upsell-container {
  padding: 2rem 2rem;
  padding-right: 0;
  padding-top: 7.625rem;
  width: 22.75rem;
}

.upsell-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
}

/* ---press--------------------- */

.press {
  margin: 4rem 2rem 3.5rem 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}

.press-image {
  height: 2.6rem;
}

.press-link:nth-child(4) {
  display: none;
}

/* ---SHOWCASE--------------------------- */

.showcase {
  margin-bottom: 5rem;
  margin-left: 2rem;
  overflow: hidden;
}

.showcase-text-wrapper {
  width: 22.75rem;
}

.article {
  background-color: #eeeeee;
  display: inline-block;
  border-radius: 16px;
  margin-right: 2.5rem;
  min-width: 290px;
}

.article:last-child {
  margin-right: 0;
}

.article-wrapper {
  display: flex;
}

.article-text {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
}

.right-side {
  text-align: right;
}

article li:first-child {
  color: #ff8139;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
}

.right-side li:first-child {
  color: #111111;
}

.article li:nth-child(2) {
  font-size: 20px;
  font-weight: 500;
}

/* ---FOOTER-UPSELL-------------------- */

.footer-upsell {
  overflow: hidden;
  position: relative;
  z-index: 0;
}

.footer-upsell-img {
  height: 30rem;
  position: absolute;
  bottom: 0;
  right: -34px;
  z-index: 0;
}

.footer-upsell-text {
  margin: 4rem 11.8rem 4.125rem 2rem;
  z-index: 2;
}

.wide {
  margin-left: -2rem;
  width: 150%;
  position: absolute;
}

/* ---FOOTER------------------- */

.footer {
  margin: 5rem 0 6.5625rem 2rem;
  font-size: 20px;
}

.social,
.info {
  margin-bottom: 4rem;
}

.social img {
  margin-bottom: 1.875rem;
}

.social-text {
  margin-bottom: 2rem;
  color: #555555;
  font-weight: 400;
}

.social ul {
  display: flex;
  color: #999999;
  font-weight: 400;
}

.social li {
  margin-bottom: 0;
  cursor: pointer;
  margin-right: 16px;
}

.fa {
  height: 18px;
  width: 18px;
}

.fa:hover {
  color: #ff3998;
}

.info {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.info-box {
  min-width: 40%;
  margin-bottom: 2.5rem;
}

.info-box:nth-child(1n + 3) {
  margin-bottom: 0;
}

.info-box a:hover {
  color: #ff3998;
}

.about-title {
  margin-bottom: 1.75rem;
  text-transform: uppercase;
  font-weight: 700;
  color: #555555;
}

.footer-bottom {
  color: #999999;
}

.footer-bottom p:last-child {
  display: none;
}

/* ___MEDIA QUERIES__________________________________ */

@media screen and (min-width: 1024px) {
  .container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 15px;
  }

  /* -header- */

  .header-container {
    margin: 0;
    margin-top: 70px;
  }

  .header {
    margin-bottom: 0;
  }

  .menu {
    display: none;
  }

  .nav {
    display: block;
  }

  .nav ul {
    display: flex;
    justify-content: space-between;
  }

  .nav li {
    margin-bottom: 0;
    margin-right: 28px;
    font-size: 20px;
    font-weight: 400;
  }

  .nav li:last-child {
    margin-right: 0;
  }

  .nav-link:hover {
    color: #ff3998;
  }

  /* -hero- */

  .hero-img {
    height: 650px;
    top: 15%;
    right: -10%;
  }

  .hero-text {
    min-width: 55%;
  }

  .hero-heading {
    font-size: 96px;
  }

  .hero {
    margin-left: 0;
    margin-bottom: 0;
    padding-bottom: 182px;
    padding-top: 182px;
  }

  /* -press- */

  .press {
    margin: 120px 0;
  }

  .press-link:nth-child(4) {
    display: block;
  }

  /* -showcase- */

  .showcase {
    margin-bottom: 120px;
    margin-left: 0;
  }

  .showcase-text-wrapper {
    width: 100%;
  }

  .article {
    max-width: 30%;
    flex: 1;
    min-width: 100px;
  }

  /* -footer-upsell- */

  .footer-upsell-img {
    height: 467px;
    bottom: 0;
    right: 5%;
  }

  .footer-upsell-text {
    margin-bottom: 120px;
    max-width: 57%;
  }

  .fut-heading {
    font-size: 56px;
  }

  /* -footer- */

  .footer {
    margin: 0;
  }

  .divider {
    margin-bottom: 120px;
  }

  .wide {
    display: none;
  }

  .footer-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 120px;
  }

  .social {
    max-width: 50%;
  }

  .info {
    min-width: 50%;
    justify-content: space-between;
  }

  .info-box {
    min-width: 20%;
  }

  .footer-bottom {
    display: flex;
    justify-content: space-between;
    margin-bottom: 71px;
  }

  .footer-bottom p:last-child {
    display: block;
  }
}
