@import url(https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css);
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900&display=swap");
@import url(/css/reset.css);
@import url(/css/common.css);
/* ---HEADER--------------------- */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.625rem;
}

.logo {
  height: 2.25rem;
}

.nav {
  display: none;
}

.menu-btn {
  height: 1.375rem;
  width: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-lines {
  content: "";
  background-color: #999;
  height: 4px;
  width: 100%;
  border-radius: 3px;
}

.menu-lines::before,
.menu-lines::after {
  content: "";
  background-color: #999;
  height: 4px;
  width: 24px;
  border-radius: 3px;
  position: absolute;
}

.menu-lines::before {
  transform: translateY(9px);
}

.menu-lines::after {
  transform: translateY(-9px);
}

/* ---HERO-------------------------------- */

.hero {
  margin-left: 2rem;
  position: relative;
  overflow: hidden;
  margin-bottom: 5rem;
}

.hero-img {
  height: 17.375rem;
  position: absolute;
  top: -34px;
  right: -134px;
}

.hero-text {
  width: 17.125rem;
}

.primary-subheading {
  text-transform: uppercase;
  color: #ff3998;
  letter-spacing: 0.1em;
  font-weight: bold;
  margin: 1.5rem 0;
}

.primary-heading {
  color: #111111;
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 1.5rem;
}

.cta-btn {
  color: #111111;
  background-color: transparent;
  font-weight: 600;
  width: 11.75rem;
  font-size: 1.25rem;
  border: 3px solid #ff3998;
  border-radius: 10px;
  line-height: 1.875rem;
  cursor: pointer;
  padding: 1.375rem;
}

/* ---UPSELL-------------------- */

.upsell {
  background: url(/images/background.png);
  background-size: cover;
  margin-bottom: 4rem;
}

.upsell-container {
  padding: 2rem 2rem;
  padding-top: 7.625rem;
  width: 22.75rem;
}

.upsell-text {
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 150%;
}

/* ---press--------------------- */

.press {
  margin: 0 2rem;
  margin-bottom: 3.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.press-image {
  height: 2.6rem;
}

.press-link {
  max-width: 48%;
  display: block;
  margin-bottom: 1.65rem;
}

/* ---SHOWCASE--------------------------- */

.showcase {
  margin-bottom: 5rem;
  margin-left: 2rem;
  overflow: hidden;
}

.showcase-text-wrapper {
  width: 22.75rem;
}

.article {
  background-color: #eeeeee;
  display: inline-block;
  border-radius: 16px;
  margin-right: 2.5rem;
  /* height: 400px; */
  min-width: 290px;
}

.article-wrapper {
  display: flex;
}

.article-text {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
}

.right-side {
  text-align: right;
}

article li:first-child {
  color: #ff8139;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
}

.right-side li:first-child {
  color: #111111;
}

.article li:nth-child(2) {
  font-size: 20px;
  font-weight: 500;
}

/* ---FOOTER-UPSELL-------------------- */

.footer-upsell {
  overflow: hidden;
  position: relative;
  z-index: 0;
}

.footer-upsell-img {
  height: 30rem;
  position: absolute;
  bottom: 0;
  right: -34px;
  z-index: 0;
}

.footer-upsell-text {
  margin: 4rem 11.8rem 4.125rem 2rem;
  z-index: 2;
}

.wide {
  margin-left: -2rem;
  width: 150%;
  position: absolute;
}
